
.animation{ transition-property:all;transition-timing-function:ease;transition-duration:0.5s;}

.gen-navbar{
    display: flex;
    justify-content:center; 
    transition-property:all;
    border-bottom: 2px solid #2F2F4F;
    transition-timing-function:linear;
    transition-duration:0.5s;
    width:100%;
    position: fixed;
    z-index: 100;
    top:0px;
    padding: 20px 10px !important;
    background-color: var(--dark-blue) !important;
}

.gen-navbar>.gen-navbar-inner{
    width:100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* gennavbar small */
.gen-navbar-small{
    display:none;
    justify-content:center;
    width:100%;
    overflow: hidden;
    position: fixed;
    top:0px;
    z-index: 100;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
    padding: 20px 10px;
    background-color: var(--dark-blue) !important;
}
.gen-navbar-small>.gen-navbar-inner{
    width:90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gen-navbar-small .sp-cover{display: flex;flex-direction: column;cursor: pointer;}
.gen-navbar-small .sp{width:40px;border-bottom:2px solid #fff;height:0px;margin-bottom:8px;}
.gen-navbar-small .sp:last-child{margin-bottom:0;}
.gen-navbar-small .sp-2{width:30px;}
.gen-navbar-small .sp-3{width:35px;}


@media screen and (max-width:1199px) 
{
    .gen-navbar-small{display: flex;}
    .gen-navbar{display: none;}
    .gen-navbar .items{
        position: relative;
    }
}



/* new css */
a{
    text-decoration: none;
}

.gen-navbar-left img{
    max-width: 100px;
}

@media (max-width: 991px){
    .gen-navbar-left img{
        max-width: 90px !important;
    }
    .gen-navbar-small .sp {
        width: 30px;
    }
    .gen-navbar-small .sp-2 {
        width: 20px;
    }
    .gen-navbar-small .sp-3 {
        width: 25px;
    }
    .gen-navbar-small .sp{
        margin-bottom: 6px;
    }
}

/* dropdown css */
.nav-list{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.nav-list li{
    transition: .5s all;
}

.nav-list li .nav-item{
    font-size: 16px;
    color: var(--white-text);
}

.nav-list li .dropdown{
    position: absolute;
    top: 30px;
    left: 0;
    width: max-content;
    height: auto;
    border-radius: 12px;
    background-color: #fff;
    padding: 14px;
    transition: .5s all;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    list-style: none;
}

.nav-list li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.dropdown .drop-item{
    transition: .5s all;
    position: relative;
    display: block;
}

.dropdown .drop-item .drop-link{
    display: block;
    padding: 12px;
    border-radius: 12px;
    transition: .5s all;
}

.dropdown .drop-item .drop-link .arr{
    opacity: 0;
    visibility: hidden;
}

.dropdown .drop-item .drop-link:hover{
    background-color: #D2DCF7;
}

.dropdown .drop-item .drop-link:hover .arr{
    opacity: 1;
    visibility: visible;
}

.sub-dropdown{
    position: absolute;
    top: 0px;
    width: auto;
    min-width: max-content;
    max-width: 800px;
    height: auto;
    border-radius: 12px;
    background-color: #fff;
    padding: 20px 30px;
    transition: .5s all;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    transform: translateX(376px);
}

.dropdown .drop-item:hover .sub-dropdown {
    opacity: 1;
    visibility: visible;
}

.nav-link{
    color: #000;
    transition: .5s all;
}

.nav-link:hover{
    color: var(--brand-color);
}